# URL Backend API
# Untuk development lokal, gunakan IP komputer (bukan localhost)
# Contoh: http://192.168.1.100:8001
# Untuk production (Render): https://ssb-academy-api.onrender.com
EXPO_PUBLIC_BACKEND_URL=http://192.168.1.100:8001
